body {
    font-family: Courier;
    background-color: blue;
}
.cabecera {
    width: 100%;
}
.cabecera h1 {
    width: 100%;
    color: green;
    background-color: lightcyan;
}
.cabecerarama {
    font-size: 82px;
    color: black;
}